# TheNorthernLights/.clang-format
# find . -regex '.*\.\(cpp\|hpp\|h\)' -exec clang-format -i {} +
#  clang-format -style=Google -i src/main.cpp       

BasedOnStyle: Google
Language:        Cpp

# Indentation
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Allman

# Column limits
ColumnLimit:     100

# Namespace + Includes
NamespaceIndentation: All
IncludeBlocks:   Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
  - Regex:           '^<.*>'
    Priority:        2
    SortPriority:    1
  - Regex:           '^".*"'
    Priority:        3
    SortPriority:    2
SortIncludes:     true

# Constructor initializers
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false

# Brace wrapping (style)
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false

# Formatting tweaks
ReflowComments:   true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatements

# C++20 and forward compatibility
SpacesInAngles: false
Cpp11BracedListStyle: true
